.profile__edit {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  background-image: url(../../../images/pencil.svg);
  background-size: 7.5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}
