.profile__job {
  margin: 7px 0 0;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 700px) {
  .profile__job {
    margin: 4px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}
